p:hover {
    background-color: #e6e6e6;
    
}
p:active {
    color: #ccc;
  }
p {
    margin-bottom: 0rem !important ;
}
aside {
    position: fixed; 
    width: 30%;
    /* left: 0;  */
}
@media (max-width:575px) {
    aside {
      background-color: aqua;
      display: none;
    }
  }
/* @media(max-width:  )  */
  