.flex-container {
    display: flex;
}
.flex-item-first {
    width: 20vw;
    margin: auto 3%;

}
.flex-item-second {
    width: 70vw;
}
.flex-container-1 {
    display:flex;
    flex-wrap: wrap;
}
.flex-item-1 {
    width: 20vw;
    margin: auto;

}