.flex-container {
    display: flex;
}
.flex-item-first {
    width: 20vw;
    margin: auto 3%;

}
.flex-item-second {
    width: 70vw;
    background:#f1f1f1;
}
.flex-container-1 {
    display:flex;
    flex-wrap: wrap;
}
.flex-item-1 {
    width: 20vw;
    margin: auto;
}
.container {
    display: flex
    

}
.item-1 {
    width: 30vw;

}
.item-2 {
    width: 70vw;

}