.contain {
    height: 15%;
    width: 100%;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header {
    position: fixed;
    top: 0;
}
@media (max-width:'769px') {
    .leftNav {
        display: none;
        background-color: thistle;
    }
  }